@font-face {
    font-family: 'Anzu';
    src: url("../fonts/anzu.woff") format("woff"),
         url("../fonts/anzu.ttf")  format("truetype");
}

.snow-container {
    width: 100%;
}

.snow-style-header {
    background-color: #32cd32;
}

.snow-style-contents {
    /*background-color: #ededed;*/
    padding: 0px, 0px;
}

.snow-style-contents a {
    color: #3cb371;
}

.snow-style-prefooter {
    background-color: #aaaaaa;
    color: #555555;
}

.snow-solid-box {
    background: #ffffff;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
}

.snow-roundly-box {
    background: #ffffff;
    border-radius: 5px;
    padding: 20px 5px;
    margin: 40px 0px 40px 0px;
}

.snow-menu-box {
    border-radius: 5px;
    /*border: solid 2px #aa8c39;*/
}

.snow-center {
    text-align: center;
}

.snow-content-wrapper {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.title {
    color: #ffffff;
    text-align: left;
}

.title h1 {
    color: #fcfcfc;
    font-size: 48px;
    text-shadow: 3px 3px 5px #005555;
}

.contents {

}

.footer {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background: #444444;
    padding: 10px;
}

.snowdrop {
    font-family: 'Anzu';
    font-size: 20px;
    color: #8a8a8a;
}
.snowdrop h1 {
    font-size: 48px;
}
.snowdrop h2 {
    font-size: 36px;
}
.snowdrop h3 {
    font-size: 28px;
}

.snow-text-small {
    font-size: 16px;
}
