@main("スノードロップ")("gallery") {

<li><a href="@routes.Assets.at("images/gallery/evening.jpg")" rel="lightbox"><img src="@routes.Assets.at("images/gallery/tiny/evening_thumb.jpg")" alt="sample 1" title="sample 1" /></a></li>
<li><a href="@routes.Assets.at("images/gallery/sky.jpg")" rel="lightbox"><img src="@routes.Assets.at("images/gallery/tiny/sky_thumb.jpg")" alt="sample 2" title="sample 2" /></a></li>
<li><a href="@routes.Assets.at("images/gallery/road.jpg")" rel="lightbox"><img src="@routes.Assets.at("images/gallery/tiny/road_thumb.jpg")" alt="sample 3" title="sample 3" /></a></li>
<li><a href="@routes.Assets.at("images/gallery/grass.jpg")" rel="lightbox"><img src="@routes.Assets.at("images/gallery/tiny/grass_thumb.jpg")" alt="sample 4" title="sample 4" /></a></li>
</ul>

}
