@main("スノードロップ")("gallery") {

  <h2>Gallery</h2>
<li><a href="@routes.Assets.at("images/gallery/1.jpg")" rel="lightbox"><image src="@routes.Assets.at("images/gallery/tiny/1.jpg")" alt="sample 1" title="sample 1" width="20%" /></a></li>
<li><a href="@routes.Assets.at("images/gallery/2.jpg")" rel="lightbox"><image src="@routes.Assets.at("images/gallery/tiny/2.jpg")" alt="sample 2" title="sample 2" width="20%" /></a></li>
<li><a href="@routes.Assets.at("images/gallery/3.jpg")" rel="lightbox"><image src="@routes.Assets.at("images/gallery/tiny/3.jpg")" alt="sample 3" title="sample 3" width="20%" /></a></li>
<li><a href="@routes.Assets.at("images/gallery/4.jpg")" rel="lightbox"><image src="@routes.Assets.at("images/gallery/tiny/4.jpg")" alt="sample 4" title="sample 4" width="20%" /></a></li>
</ul>

}
