@(title: String)(uri: String)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <meta name="keywords" content="ECO,スノードロップ,エミル・クロニクル・オンライン" />
    <meta name="description" content="エミル・クロニクル・オンラインFreeziaサーバーで活動しているリング、スノードロップのサイトです。" />

    <meta charset="UTF-8">

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/snowdrop.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/lightbox.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.bxslider.css")">

    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
    <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/footerFixed.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/lightbox_plus_min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.bxslider.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/snowdrop.js")" type="text/javascript"></script>
    <script>
      Spica.Event.run(function() {
        new Lightbox({
            loadingimg: "@routes.Assets.at("images/lightbox/loading.gif")",
            expandimg: "@routes.Assets.at("images/lightbox/expand.gif")",
            shrinkimg: "@routes.Assets.at("images/lightbox/shrink.gif")",
            blankimg: "@routes.Assets.at("images/lightbox/blank.gif")",
            previmg: "@routes.Assets.at("images/lightbox/prev.gif")",
            nextimg: "@routes.Assets.at("images/lightbox/next.gif")",
            closeimg: "@routes.Assets.at("images/lightbox/close.gif")",
            effectimg: "@routes.Assets.at("images/lightbox/zzoop.gif")",
            effectpos: { x: -40, y: -20 },
            effectclass: "effectable",
            resizable: true,
            animation: true
        })
      });
    </script>
  </head>
  <body>
  <div class="snowdrop">
  <div class="container snow-container snow-style-header">
  <header>
    <div class="container title">
      <h1>スノードロップ</h1>
    </div> 
  </header>
  </div> <!-- snow-container -->
  <div class="snow-style-contents">
  <div class="container">
  <div class="snow-solid-box">
  <div class="row">
    <div class="col-md-2 col-sm-2 snow-center">
      <h3>めにゅー</h3>
      <div class="snow-menu-box">
        <ul class="nav">
          <li><a href="@if(uri=="home") {#} else {@routes.Application.index()}">Home</a></li>
          <li><a href="@if(uri=="about") {#} else {@routes.Application.about()}">About</a></li>
          <li><a href="@if(uri=="member") {#} else {@routes.Application.member()}">Member</a></li>
          <li><a href="@if(uri=="blog") {#} else {@routes.Blog.index()}">Blog</a></li>
          <li><a href="@if(uri=="gallery") {#} else {@routes.Application.gallery()}">Gallery</a></li>
          <li><a href="@if(uri=="link") {#} else {@routes.Application.link()}">Link</a></li>
        </ul>
      </div>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
    <div class="col-md-10 col-sm-10">
      <div @if(uri!="home"){class="snow-content-wrapper"}>
        @content
      </div>
    </div>
  </div> <!-- row -->
  </div> <!-- snow-solid-box -->
  </div> <!-- container -->
  </div> <!-- snow-style-gray -->
  <footer class="snow-style-prefooter">
    <div class="container snow-text-small">
      このページ内におけるECOから転載された全て のコンテンツの著作権につきましては 株式会社ブロッコリーとガンホー・オンライン・エンターテイメント株式会社および株式会社ヘッドロックに帰属します。<br />
      なお、当ページに掲載しているコンテンツの再利用（再転載・配布など）は、禁止しています。<br />
      無断転載・引用はご遠慮ください。<br />
    </div>
    <div class="footer">
      スノードロップ - (C)2014 snowdrop all right reserved.
    </div>
  </footer>
  </div> <!-- snowdrop -->
  </body>
</html>
